<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="port" value="31768"/>
    <add key="logFolder" value="logs"/>
    <add key="pong" value="00000000000000000000000000000000"/>
    <add key="dbHost" value="localhost"/>
    <add key="dbName" value="database"/>
    <add key="dbUser" value="root"/>
    <add key="dbPass" value="root"/>
    <add key="localNetPort" value="65391"/>
    <add key="localNetPassword" value="password"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
